@using TPANUAL
@{
    ViewBag.Title = "Ingresos";
    Usuario usuario = (Usuario)Session["Usuario"];
    List<OperacionDeIngreso> operacionesDeIngreso = (List<OperacionDeIngreso>)Session["Ingresos"];
}
<div class="content">
    <div class="row">
        <div class="col-12">
            @foreach (OperacionDeIngreso oi in operacionesDeIngreso)
            {
                <div class="card card-chart" id=@oi.ID_OperacionDeIngreso>
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h1 class="card-title">
                                    Ingreso #@oi.ID_OperacionDeIngreso
                                    <button class="btn btn-primary btn-fab btn-icon btn-round animation-on-hover" data-toggle="modal" data-target="#popup-@oi.ID_OperacionDeIngreso" style="float:right;">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="modal modal-black fade" tabindex="-1" role="dialog" id="popup-@oi.ID_OperacionDeIngreso" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-center">Editar compra</h5>
                                </div>
                                <div class="modal-body">
                                    <p>Este  es el form para editar el ingreso #@oi.ID_OperacionDeIngreso</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success animation-on-hover">Save changes</button>
                                    <button type="button" class="btn btn-danger animation-on-hover" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pl-3 pr-3">
                        <div class="row">
                            <div class="cuadros-texto col-xl-2">
                                <div class="cuadro-texto alert alert-default" role="alert">
                                    <h6>Descripción</h6>
                                    <p>@oi.Descripcion</p>
                                    <hr>
                                    <h6>Fecha</h6>
                                    <p>@oi.Fecha</p>
                                    <br>
                                    <h6>Valor total</h6>
                                    <p>$@oi.Monto</p>
                                </div>
                            </div>
                            <div class="col">
                                <h2>Operaciones de Egreso asociadas</h2>
                                <div class="tabla-compras">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th class="pl-3 pr-3">&nbsp;ID</th>
                                                <th>Fecha</th>
                                                <th>Medio de Pago</th>
                                                <th class="text-right">Valor Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (OperacionDeEgreso oe in oi.EgresosAsociados)
                                            {
                                                <tr>
                                                    <td>
                                                        <a class="btn btn-success pl-3 pr-3" href="~/Home/Egresos#@oe.ID_OperacionDeEgreso">
                                                            @oe.ID_OperacionDeEgreso
                                                        </a>
                                                    </td>
                                                    <td>@oe.Fecha</td>
                                                    <td>@oe.MedioDePago.TipoPago</td>
                                                    <td class="text-right"> $@oe.ValorTotal</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<button class="boton-flotante btn btn-info animation-on-hover" type="button" data-toggle="modal" data-target="#registrarIngreso">
    <div class="mr-4">
        Registrar
        <br>
        nuevo ingreso
    </div>
    <div class="ml-4">
        <i class="far fa-plus-square"></i>
    </div>
</button>
<div class="modal modal-black fade" tabindex="-1" role="dialog" id="registrarIngreso" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Registrar Ingreso</h5>
            </div>
            <div class="modal-body">
                <p>Este  es el form para registrar un ingreso</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success animation-on-hover">Save changes</button>
                <button type="button" class="btn btn-danger animation-on-hover" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>