@using TPANUAL
@{
    ViewBag.Title = "Organizaciones";
    Usuario usuario = (Usuario)Session["Usuario"];
    Organizacion o = (Organizacion)Session["Organizacion"];
}

<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-9">
                            <h1 class="card-title">@o.NombreFicticio #@o.ID_Organizacion</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body pl-3 pr-3">
                    <div class="row">
                        <div class="cuadros-texto col-xl-3">
                            <div class="cuadro-texto alert alert-default" role="alert">
                                <h6 class="text-center">Cantidad de personal</h6>
                                <p class="text-center">@o.CantidadPersonal</p>
                                <hr>
                                <h6 class="text-center">Promedio de ventas anuales</h6>
                                <p class="text-center">@o.PromedioVentasAnuales</p>
                                <hr>
                                <h6 class="text-center">Cantidad de ingresos</h6>
                                <p class="text-center">@o.OperacionesDeIngreso.Count</p>
                                <hr>
                                <h6 class="text-center">Cantidad de egresos</h6>
                                <p class="text-center">@o.OperacionesDeEgreso.Count</p>
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <h2>Usuarios</h2>
                            <div class="tabla-compras">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th class="text-center">Nombre</th>
                                            <th class="text-right">Tipo de usuario</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Usuario u in o.Usuarios)
                                        {
                                            <tr>
                                                <td>@u.ID_Usuario</td>
                                                <td class="text-center">@u.NombreUsuario</td>
                                                <td class="text-right">@u.TipoUsuario</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <h2>Tipo entidad</h2>
                            @if (o.TipoEntidad.Equals(new EntidadJuridica())) //Si es entidad jurídica, muestro esto:
                            {
                                <p>hola, soy una entidad jurídica</p>
                            }
                            else // Si es entidad base, muestro esto:
                            {
                                <p>hola, soy una entidad base</p>
                            }
                        </div>
                    </div>
                    <hr />
                    @using (Html.BeginForm("FormVinculacion", "Organizacion", FormMethod.Post))
                    {
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-success animation-on-hover" name="_vincular" type="button" style="width: 100%;">
                                Vincular ingreso y egresos
                            </button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-warning animation-on-hover" name="_desvincular" type="button" style="width: 100%;">
                                Desvincular ingreso y egresos
                            </button>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

